@model UserRegisterRequest 
<h1>Create</h1>
<form method="post">
        <div class="col-sm-12">
            <label class="form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName">
        <span asp-validation-for="UserName"></span>
        </div>
    <div class="col-sm-12">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-sm-12">
        <label class="form-label" asp-for="Password"></label>
        <input class="form-control" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="col-sm-12">
        <label class="form-label" asp-for="ConfirmPassword"></label>
        <input class="form-control" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="col-sm-12">
        <label class="form-label" asp-for="Role"></label>
        <input class="form-control" asp-for="Role">
        <span asp-validation-for="Role"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  
</form>