@model UserEditRequest
<h1>Edit</h1>
<form method="POST">
    <input class="form-control" type="hidden" asp-for="UserId">
    <div class="col-sm-12">
        <label class="form-label" asp-for="UserName">Disabled input</label>
        <input class="form-control" asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="col-sm-12">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
 


    <button type="submit" class="btn btn-primary">Submit</button>

</form>